*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(9%) sepia(33%);
}

html {
  font-size: 62.5%;
}

body {
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: OpenSan, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  background: transparent;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

.icon {
  filter: var(--icon-color);
}
